<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Forge" subTitle="The novel writing app"}}
  {{> welcome-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
      <img width="300" src="images/anvil-logo.png" />
    </div>
    <div class="uk-width-expand@m">
      <h1 class="uk-heading-small">Welcome to Forge</h1>
      <p>A novelist is inspired by the books they read, and their environment. Forge novel writing app takes information inputted by you the writer, adds in elements of over a hundred classic novels, and takes current data from APIs to create a novel draft.</p>
      {{> error }}
    </div>
  </div>
</div>
